* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg--dark: #0E0F1C;
    --bg--card: #564B4B;
    --bg--plans: #151E30;
    --primary-color: #6177FA;
    --text--main: #fff;
    --transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:'Montserrat', 'sans-serif';
    background-color: var(--bg--dark);
    color: var(--text--main);
    line-height: 1.6;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgba(15, 17, 26, 0.95);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #2a2d3e;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}