* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
:root {
    --bg--dark: #0E0F1C;
    --bg--card: #564b4b1f;
    --bg--plans: #151E30;
    --primary-color: #6177FA;
    --primary-neon: #7b2ff7;
    --segundary--neon: #00f2ff;
    --text-dim: #a0a0a0;
    --text--main: #fff;
    --transition: all 0.3s ease;
}
 
html {
    scroll-behavior: smooth;
}
 
body {
    font-family:'Montserrat', 'sans-serif';
    background-color: var(--bg--dark);
    color: var(--text--main);
    line-height: 1.6;
    overflow-x: hidden;
}
 
.container {
   
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 90px;
}
 
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgba(15, 17, 26, 0.95);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #2a2d3e;
}
 
.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
 
.logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -1px;
}
 
.logo span {
    background: linear-gradient(90deg, #6177FA 0%, #5C7DFA 70%, #394694 79%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.nav_menu ul {
    display: flex;
    list-style: none;
}
 
.nav_menu ul li a {
    color: var(--text--main);
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9rem;
    transition: var(--transition);
}
 
.nav-menu ul li a:hover {
    color: var(--primary-color);
}
 
.btn {
    padding: 10px 22px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    transition: var(--transition);
    display: inline-block;a
}
 
.btn-neon {
    background: linear-gradient(90deg, #6366f1, #3b82f6, #2dd4bf);
    color: var(--text--main);
    box-shadow: 0 4px 15px rgba(123, 47, 247, 0.3);
}
 
.btn-neon:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(124, 47, 247, 0.9);
}
 
.btn-outilne {
    border: 1px solid #6177FA;
    color: var(--text--main);
}
 
.btn-outilne:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(124, 47, 247, 0.9);
}
 
.hero{
    padding: 100px 0;
    min-height: calc(100vh -80px);
    display: flex;
    align-items: center;
    margin-bottom: -100px;
}
 
.grid-hero{
    display: grid;
    grid-template-columns: 1.8fr 1.4fr;
    gap: 100px;
}
 
.text-gradiente {
  background-image: linear-gradient(90deg, #4f46e5, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.hero-text h1{
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 20px;
}
 
 
.hero-text p{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.658);
    margin-bottom: 30px;
    max-width: 500px;
   
}
 
.card-mokup{
    border-radius: 20px;
    position: relative;
}
 
.card-mokup img{
    width: 100%;
}
 
.user-access {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}
 
/* Ícone */
.user-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
   
    display: grid;
    place-items: center;
}
 
.user-icon svg {
    width: 30px;
    stroke: #888aaa;
    fill: none;
    stroke-width: 1.5;
}
 
/* Textos */
.user-labels {
    display: flex;
    flex-direction: column;
}
 
.label-entrar {
    font-size: 0.9rem;
    font-weight: 600;
}
 
.label-cadastrar {
    font-size: 0.78rem;
    font-weight: 600;
    background: linear-gradient(90deg, #4560FD 0%, #7264FC 32%, #5388D8 59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
/* Dropdown */
.user-dropdown {
    position: absolute;
    top: 110%;
    right: 0;
    background: #13142a;
    border: 1px solid #2a2d3e;
    border-radius: 10px;
    min-width: 160px;
    display: none;
    overflow: hidden;
}
 
.user-dropdown.open {
    display: block;
}
 
.user-dropdown a {
    display: block;
    padding: 10px 15px;
    font-size: 0.85rem;
    color: #cdd0e0;
    text-decoration: none;
}
 
.user-dropdown a:hover {
    background: rgba(97, 119, 250, 0.12);
}
 
.dropdown-highlight {
    color: var(--primary-color);
    font-weight: 600;
    border-top: 1px solid #2a2d3e;
}
 
.features{
    padding: 80px 0; /*Preenchimento vertical*/
    background-color: #0E0F1C;
}
 
.section-title{
   margin-bottom: 20px;
   font-size: 1.8rem;
   color: var(--primary-color);
}
 
.sub-title-opition{
    font-size: 2.6rem;
    font-weight: 800;
    padding-bottom: 20px;
    line-height: 1.1;
}
 
.p-funcionalidades{
    padding-bottom: 40px;
 
}
 
.text{
    margin: 60px 0;
}
 
.grid-features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-bottom: 25PX;
    cursor: pointer;
   
}
 
.features-card{
    background: var(--bg--card );
    padding: 40px 30px;
    border-radius: 15px;
    transition: var(--transition);
    border: 1px solid transparent;
   
}
 
.features-card:hover{
    border-color: rgba(255, 255, 255, 0.267);
}
 
.features-card .icon{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
 
.plan{
    padding: 80px 0;
}
 
.grid-plan{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 25px;
}
 
.plan-card{
    background: var(--bg--card);
    padding: 40px 30px;
    border-radius: 15px;
    transition: var(--transition);
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
}
 
.plan-card:hover{
    border-color: var(--primary-color);
    transform: translateY(-10px);
 
}
 
.plan-card .icon{
    font-size: 2.5rem;
    margin-bottom: 20px;
 
}
 
.plan-list{
    padding: 30px 0;
    width: 100%;
}
 
.plan-list ul{
    padding: 20px;
}
 
.plan-list li{
    list-style-image: url(/assets/img/Vector.png);
}
 
.price{
    font-size: 30px;
    padding: 30px 0;
}
 
.price span{
    font-size: 20px;
}
 
.plan-card hr{
    width: 100%;
    margin-top: 33px;
    border: 1px solid var(--bg--card);
}
 
.plan-highligth{
    background: purple;
}
 
.plan-highligth:hover{
    background: rgb(0, 0, 0);
}
 
.blog {
    padding: 80px 0;
    background: #0a0c14;
}

.grid-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.blog-card {
    background: var(--bg--card);
    padding: 40px 30px;
    border-radius: 15px;
    transition: var(--transition);
    border: 1px solid transparent;
    position: relative;
    padding-bottom: 90px;
}

.blog-card:hover {
    border-color: var(--primary-neon);
    transform: translateY(-10px);
}

.blog-card img {
    width: 100%;
}

.blog-footer-card {
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align:center;
    width: 100%;
}

.box-btn-blog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;

}

/*CONTATO*/
.contact {
    padding: 80px 0;
    background: var(--bg--card);
    text-align: center;
}

.grid-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}.contact-card:hover {
    border-color: var(--primary-color);
}

.contact-card {
    background: var(--bg--card);
    padding: 40px 0;
    border-radius: 15px;
    transition: var(--transition);
    border: 1px solid transparent;
}

.contact-card:hover {
    border-color: var(--primary-color);
    transform: translatey(-10px);
}

.contact-form {
    margin-top: 20px;
}

.contact-form input, .contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #2a2d2a;
    background: var(--bg--dark);
    color: var(--text--main);
}

.comtact-form button {
    width: 100%;
}

.info p {
    margin-bottom: 10px;
    color: var(--text--main);
}

.footer {
    background: rgba(15, 17, 26, 0.95);
    padding: 40px 0;
    text-align: center;
    border-top: 1px solid #2a2d2a;
}

.footer .social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    color: var(--text--main);
    text-decoration: none;
}

@media (max-width: 992px) {
    .grid-hero {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-text p {
        margin: 0 auto 30px;
    }
    .nav_menu, .nav_btn {
        display: none;
    }
}